/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroHeader {
  font-size: 3rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.heroHeader img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin-right: 2em;
}

.heroHeader .containerHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 996px) {
  .heroHeader {
    padding: 2rem;
  }
  .heroHeader .containerHeader{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .heroHeader img {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .heroHeader img {
    width: 15rem;
    height: 15rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
