/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroHeader {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  display: flex;
}

.heroHeader img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

@media screen and (max-width: 996px) {
  .heroHeader {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
